<!DOCTYPE html>
<html>
<head>
  <title>Qa server</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "qa_server/application", media: "all" %>
  <%= javascript_include_tag "qa_server/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
