<div class="container">
<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">
      <p><%= t('qa_server.application_name') %>, v<%= t('qa_server.application_version') %></p>
      <p><%= t('qa_server.footer.service_html') %></p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('qa_server.footer.copyright_html') %></p>
        <p><%= t('qa_server.footer.disclaimer_html') %></p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="footer-logos">
      <a href="https://uiowa.edu/" target="_blank"><img src="<%= image_url('qa_server/iowa-logo.png') %>" class="footer-logo"></a>
      <a href="http://cornell.edu" target="_blank"><img src="<%= image_url('qa_server/cornell-reduced-white.svg') %>" class="footer-logo"></a>
      <a href="http://samvera.org" target="_blank"><img src="<%= image_url('qa_server/samvera-fall-font1-1000w-light.png') %>" class="footer-logo"></a>
      <a href="http://ld4l.org" target="_blank"><img src="<%= image_url('qa_server/LD4L-bg.png') %>" class="footer-logo"></a>
    </div>
  </div>
</footer>
</div>
