<script>
  function validate_authority(form) {
    form.submit();
    document.getElementById('status-loading-message').style.display = 'block';
    document.getElementById('connection-status-section').style.display = 'none';
    document.getElementById('accuracy-status-section').style.display = 'none';
    document.getElementById('example-url-warning').style.display = 'none';
  }
</script>

<div class="page-description">

  <h2><%= t('qa_server.check_status.title') %></h2>

  <%= form_tag({ action: 'index' }, { method: :get }) do %>
  <select name="authority" id="authority" class="string multi-value optional form-control form-control multi-text-field" value="" aria-labelledby="authority" onchange="validate_authority(this.form)">
    <option value=""><%= t('qa_server.check_status.select_authority') %></option>
    <option disabled>──────────</option>
    <option value="<%= @presenter.value_all_collections %>"><%= t('qa_server.check_status.show_all') %></option>
    <option disabled>──────────</option>
    <% @authorities_list.each do |auth_name| %>
        <option value="<%= auth_name %>"><%= auth_name.upcase %></option>
    <% end %>
  </select>
  <div class="validation-types">
    <%= radio_button_tag(@presenter.value_check_param, @presenter.value_check_connections, :selected) %>
    <%= label_tag(@presenter.label_check_connections, t('qa_server.check_status.connections'), class: 'horizontal-list') %>
    <%= radio_button_tag(@presenter.value_check_param, @presenter.value_check_accuracy) %>
    <%= label_tag(@presenter.label_check_accuracy, t('qa_server.check_status.accuracy'), class: 'horizontal-list') %>
    <%= radio_button_tag(@presenter.value_check_param, @presenter.value_all_checks) %>
    <%= label_tag(@presenter.label_all_checks, t('qa_server.check_status.all_checks'), class: 'horizontal-list') %>
  </div>
  <% end %>


<div id="status-loading-message" class="wait-message"><%= t('qa_server.check_status.wait_message') %></div>

<% if @presenter.connection_status_data? || @presenter.accuracy_status_data? %>
  <div id="example-url-warning">
      <p><b><%= t('qa_server.warning.chrome_unencoding_msg') %></b></p>
  </div>
<% end %>

<% if @presenter.connection_status_data? %>
<div id="connection-status-section" class="status-section">
  <h3><%= t('qa_server.check_status.connection_checks') %></h3>
  <table class="status">
    <tr>
      <th><%= t('qa_server.check_status.status_table.status') %></th>
      <th><%= t('qa_server.check_status.status_table.authority') %></th>
      <th><%= t('qa_server.check_status.status_table.subauthority') %></th>
      <th><%= t('qa_server.check_status.status_table.service') %></th>
      <th><%= t('qa_server.check_status.status_table.action') %></th>
      <th><%= t('qa_server.check_status.status_table.url') %></th>
      <th><%= t('qa_server.check_status.status_table.errmsg') %></th>
    </tr>
    <% @presenter.connection_status_data.each do |status| %>
    <tr>
      <td class="<%= @presenter.status_style_class(status) %>"><%= @presenter.status_label(status) %></td>
      <td><%= status[:authority_name] %></td>
      <td><%= status[:subauthority_name] %></td>
      <td><%= status[:service] %></td>
      <td><%= status[:action] %></td>
      <td><a href="<%= status[:url] %>"><%= status[:url] %></a></td>
      <td><%= status[:err_message] %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

<% if @presenter.accuracy_status_data? %>
<div id="accuracy-status-section" class="status-section">
  <h3><%= t('qa_server.check_status.accuracy_checks') %></h3>
  <table class="status">
    <tr>
      <th><%= t('qa_server.check_status.status_table.expected_by_position') %></th>
      <th><%= t('qa_server.check_status.status_table.actual_position') %></th>
      <th><%= t('qa_server.check_status.status_table.subject_uri') %></th>
      <th><%= t('qa_server.check_status.status_table.authority') %></th>
      <th><%= t('qa_server.check_status.status_table.subauthority') %></th>
      <th><%= t('qa_server.check_status.status_table.service') %></th>
      <th><%= t('qa_server.check_status.status_table.action') %></th>
      <th><%= t('qa_server.check_status.status_table.url') %></th>
      <th><%= t('qa_server.check_status.status_table.errmsg') %></th>
    </tr>
    <% @presenter.accuracy_status_data.each do |status| %>
    <tr>
      <td class="position <%= @presenter.status_style_class(status) %>"><%= status[:expected] %></td>
      <td class="position <%= @presenter.status_style_class(status) %>"><%= status[:actual] %></td>
      <td><a href="<%= status[:target] %>"><%= status[:target] %></a></td>
      <td><%= status[:authority_name] %></td>
      <td><%= status[:subauthority_name] %></td>
      <td><%= status[:service] %></td>
      <td><%= status[:action] %></td>
      <td><a href="<%= status[:url] %>"><%= status[:url] %></a></td>
      <td><%= status[:err_message] %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

</div>
