<script>
  function hide_data() {
    connection_status_section = document.getElementById('connection-status-section');
    if (connection_status_section != null) {
      connection_status_section.style.display = 'none';
    }
    accuracy_status_section = document.getElementById('accuracy-status-section');
    if (accuracy_status_section != null) {
      accuracy_status_section.style.display = 'none';
    }
    comparison_status_section = document.getElementById('comparison-status-section');
    if (comparison_status_section != null) {
      comparison_status_section.style.display = 'none';
    }
  }

  function validate_authority(form) {
    show_loading_message();
    hide_data();
  }

  function show_loading_message() {
    document.getElementById('status-loading-message').style.display = 'block';
  }
  function hide_loading_message() {
    document.getElementById('status-loading-message').style.display = 'none';
  }
  function show_comparison_selector() {
    document.getElementById('comparison-authority-selector').style.display = 'block';
  }
  function hide_comparison_selector() {
    document.getElementById('comparison-authority-selector').style.display = 'none';
  }
</script>

<div class="page-description">

  <h2><%= t('qa_server.check_status.title') %></h2>

  <% selected_authority = @presenter.selected_authority %>
  <% selected_comparison = @presenter.selected_comparison %>
  <%= form_tag({ action: 'index' }, { method: :get }) do %>
    <div id="authority-selector">
      <select name="authority" id="authority" class="string optional form-control form-control" value="" aria-labelledby="authority" onchange="hide_data()">
        <option value=""><%= t('qa_server.check_status.select_authority') %></option>
        <option disabled>──────────</option>
        <% @authorities_list.each do |auth_name| %>
          <option value="<%= auth_name %>"<%= " selected" if auth_name == selected_authority %>><%= auth_name.upcase %></option>
        <% end %>
      </select>
    </div>

    <div id="comparison-authority-selector" style="<%= "display\: block" if @presenter.comparison_status_data? %>">
      Compare with:
      <select name="compare_with" id="compare-with" class="string optional form-control form-control" value="" aria-labelledby="authority" onchange="hide_data()">
        <option value=""><%= t('qa_server.check_status.select_authority') %></option>
        <option disabled>──────────</option>
        <% @authorities_list.each do |auth_name| %>
            <option value="<%= auth_name %>"<%= " selected" if auth_name == selected_comparison %>><%= auth_name.upcase %></option>
        <% end %>
      </select>
    </div>

    <div class="validation-types">
      <%= radio_button_tag(@presenter.value_check_param, @presenter.value_check_connections, @presenter.connection_tests_checked, onClick: "hide_comparison_selector()") %>
      <%= label_tag(@presenter.label_check_connections, t('qa_server.check_status.connections'), class: 'horizontal-list') %>
      <%= radio_button_tag(@presenter.value_check_param, @presenter.value_check_accuracy, @presenter.accuracy_tests_checked, onClick: "hide_comparison_selector()") %>
      <%= label_tag(@presenter.label_check_accuracy, t('qa_server.check_status.accuracy'), class: 'horizontal-list') %>
      <%= radio_button_tag(@presenter.value_check_param, @presenter.value_check_comparison, @presenter.comparison_tests_checked, onClick: "show_comparison_selector()") %>
      <%= label_tag(@presenter.label_check_comparison, t('qa_server.check_status.comparison'), class: 'horizontal-list') %>
      <%= radio_button_tag(@presenter.value_check_param, @presenter.value_all_checks, false, onClick: "hide_comparison_selector()") %>
      <%= label_tag(@presenter.label_all_checks, t('qa_server.check_status.all_checks'), class: 'horizontal-list') %>
    </div>
    <button type="submit" class="btn btn-primary" id="check-status-go" onclick="validate_authority(this.form)">GO</button>
  <% end %>


<div id="status-loading-message" class="wait-message">
  <%= t('qa_server.check_status.wait_message_ln1') %><br>
  <%= t('qa_server.check_status.wait_message_ln2') %>
</div>

<% if @presenter.connection_status_data? %>
<div id="connection-status-section" class="status-section">
  <h3><%= t('qa_server.check_status.connection_checks') %></h3>
  <table class="status">
    <tr>
      <th><%= t('qa_server.check_status.status_table.status') %></th>
      <th><%= t('qa_server.check_status.status_table.subauthority') %></th>
      <th><%= t('qa_server.check_status.status_table.service') %></th>
      <th><%= t('qa_server.check_status.status_table.action') %></th>
      <th><%= t('qa_server.check_status.status_table.url') %></th>
      <th><%= t('qa_server.check_status.status_table.errmsg') %></th>
    </tr>
    <% current_authority = nil %>
    <% @presenter.connection_status_data.each do |status| %>
      <% unless status[:authority_name] == current_authority %>
          <% current_authority = status[:authority_name] %>
          <tr>
            <td class="table_subheading" colspan="6"><%= current_authority %></td>
          </tr>
      <% end %>
      <tr>
        <td class="<%= @presenter.status_style_class(status) %>"><%= @presenter.status_label(status[:status]) %></td>
        <td><%= status[:subauthority_name] %></td>
        <td><%= status[:service] %></td>
        <td><%= status[:action] %></td>
        <td><a href="<%= status[:url] %>"><%= status[:url] %></a></td>
        <td><%= status[:err_message] %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>

<% if @presenter.accuracy_status_data? %>
<div id="accuracy-status-section" class="status-section">
  <h3><%= t('qa_server.check_status.accuracy_checks') %></h3>
  <table class="status">
    <tr>
      <th><%= t('qa_server.check_status.status_table.expected_by_position') %></th>
      <th><%= t('qa_server.check_status.status_table.actual_position') %></th>
      <th><%= t('qa_server.check_status.status_table.request_data') %></th>
      <th><%= t('qa_server.check_status.status_table.subject_uri') %></th>
      <th><%= t('qa_server.check_status.status_table.authority') %></th>
      <th><%= t('qa_server.check_status.status_table.subauthority') %></th>
      <th><%= t('qa_server.check_status.status_table.service') %></th>
      <th><%= t('qa_server.check_status.status_table.action') %></th>
      <th><%= t('qa_server.check_status.status_table.url') %></th>
      <th><%= t('qa_server.check_status.status_table.errmsg') %></th>
    </tr>
    <% current_authority = nil %>
    <% @presenter.accuracy_status_data.each do |status| %>
      <% unless status[:authority_name] == current_authority %>
        <% current_authority = status[:authority_name] %>
        <tr>
          <td class="table_subheading" colspan="10"><%= current_authority %></td>
        </tr>
      <% end %>
    <tr>
      <td class="position <%= @presenter.status_style_class(status) %>"><%= status[:expected] %></td>
      <td class="position <%= @presenter.status_style_class(status) %>"><%= status[:actual] %></td>
      <td><%= status[:request_data] %></td>
      <td><a href="<%= status[:target] %>"><%= status[:target] %></a></td>
      <td><%= status[:authority_name] %></td>
      <td><%= status[:subauthority_name] %></td>
      <td><%= status[:service] %></td>
      <td><%= status[:action] %></td>
      <td><a href="<%= status[:url] %>"><%= status[:url] %></a></td>
      <td><%= status[:err_message] %></td>
    </tr>
    <% end %>
  </table>
  <p><i>NOTE: Dogear means that the test is a known failure marked as pending.</i></p>
</div>
<% end %>

<% if @presenter.comparison_status_data? %>
<div id="comparison-status-section" class="status-section">
  <h3><%= t('qa_server.check_status.comparison_checks') %></h3>
  <% auth_before =  @presenter.comparison_status_data.first[:authority_name][0]%>
  <% auth_after =  @presenter.comparison_status_data.first[:authority_name][1]%>
  <table class="status">
    <tr>
      <th class="comparison-header comparison-before bold-left-border" colspan=2><%= auth_before %><br><%= t('qa_server.check_status.status_table.before') %></th>
      <th class="comparison-header comparison-after" colspan=2><%= auth_after %><br><%= t('qa_server.check_status.status_table.after') %></th>
      <th class="comparison-header" colspan=7></th>
    </tr>
    <tr>
      <th class="bold-left-border"><%= t('qa_server.check_status.status_table.expected_by_position') %></th>
      <th><%= t('qa_server.check_status.status_table.actual_position') %></th>
      <th class="bold-left-border"><%= t('qa_server.check_status.status_table.expected_by_position') %></th>
      <th><%= t('qa_server.check_status.status_table.actual_position') %></th>
      <th class="bold-left-border"><%= t('qa_server.check_status.status_table.request_data') %></th>
      <th><%= t('qa_server.check_status.status_table.subject_uri') %></th>
      <th><%= t('qa_server.check_status.status_table.subauthority') %></th>
      <th><%= t('qa_server.check_status.status_table.service') %></th>
      <th><%= t('qa_server.check_status.status_table.action') %></th>
      <th><%= t('qa_server.check_status.status_table.url') %></th>
      <th><%= t('qa_server.check_status.status_table.errmsg') %></th>
    </tr>
    <% @presenter.comparison_status_data.each do |status| %>
    <tr>
      <td class="position bold-left-border <%= @presenter.status_style_class(status[:status][0]) %>"><%= status[:expected][0] %></td>
      <td class="position <%= @presenter.status_style_class(status[:status][0]) %>"><%= status[:actual][0] %></td>
      <td class="position bold-left-border <%= @presenter.status_style_class(status[:status][1]) %>"><%= status[:expected][1] %></td>
      <td class="position <%= @presenter.status_style_class(status[:status][1]) %>"><%= status[:actual][1] %></td>
      <td class="bold-left-border"><%= status[:request_data] %></td>
      <td><a href="<%= status[:target] %>"><%= status[:target] %></a></td>
      <td><%= status[:subauthority_name] %></td>
      <td><%= status[:service] %></td>
      <td><%= status[:action] %></td>
      <td><a href="<%= status[:url][0] %>"><%= status[:url][0] %></a>, <a href="<%= status[:url][1] %>"><%= status[:url][1] %></a></td>
      <td><%= status[:err_message] %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>

</div>
