  <% if @presenter.display_performance? && @presenter.performance_data? %>
    <div id="performance-data" class="status-section">
      <h3><%= t('qa_server.monitor_status.performance.title') %></h3>

      <% if @presenter.display_performance_graph? %>
      <script>
        function switch_performance_view(base_id, time_period) {
          document.getElementById(base_id+'-during-day').className = 'performance-data-section-hidden';
          document.getElementById(base_id+'-during-month').className = 'performance-data-section-hidden';
          document.getElementById(base_id+'-during-year').className = 'performance-data-section-hidden';
          document.getElementById(base_id+'-during-'+time_period).className = 'performance-data-section-visible';
        }
      </script>

      <% @presenter.performance_graphs.each do |graph_info| %>
      <div id="<%= @presenter.performance_graph_data_section_id(graph_info) %>" class="<%= @presenter.performance_data_section_class(graph_info) %>">
        <div class="right-menu-section">
          <h4><%= @presenter.performance_graph_authority(graph_info) %></h4>
          <ul class="right-menu">
            <% if @presenter.performance_day_graph_selected?(graph_info) %>
              <li class="selected"><%= t('qa_server.monitor_status.performance.menu_day') %></li>
            <% else %>
              <li class="clickable" onClick="switch_performance_view('<%= @presenter.performance_graph_data_section_base_id(graph_info) %>', 'day')">
                <%= t('qa_server.monitor_status.performance.menu_day') %>
              </li>
            <% end %>
            <% if @presenter.performance_month_graph_selected?(graph_info) %>
              <li class="selected"><%= t('qa_server.monitor_status.performance.menu_month') %></li>
            <% else %>
              <li class="clickable" onClick="switch_performance_view('<%= @presenter.performance_graph_data_section_base_id(graph_info) %>', 'month')">
                <%= t('qa_server.monitor_status.performance.menu_month') %>
              </li>
            <% end %>
            <% if @presenter.performance_year_graph_selected?(graph_info) %>
              <li class="selected"><%= t('qa_server.monitor_status.performance.menu_year') %></li>
            <% else %>
              <li class="clickable" onClick="switch_performance_view('<%= @presenter.performance_graph_data_section_base_id(graph_info) %>', 'year')">
                <%= t('qa_server.monitor_status.performance.menu_year') %>
              </li>
            <% end %>
          </ul>
        </div>

        <div id="<%= @presenter.performance_graph_id(graph_info) %>" class="performance-chart">
          <p><%= @presenter.performance_graph_label(graph_info) %></p>
          <%= image_tag(@presenter.performance_graph(graph_info), alt: @presenter.performance_graph_label(graph_info)) %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @presenter.display_performance_datatable? %>
    <div id="performance-datatable-section">
      <h4><%= @presenter.performance_table_description %></h4>
      <table class="status">
        <tr>
          <th></th>
          <th><%= t('qa_server.monitor_status.performance.slowest_times') %></th>
          <th><%= t('qa_server.monitor_status.performance.average_times') %></th>
          <th><%= t('qa_server.monitor_status.performance.fastest_times') %></th>
        </tr>
        <% @presenter.performance_data.each do |authority_name, data| %>
          <% stats = @presenter.datatable_stats(data) %>
          <tr>
            <td class="table_subheading" colspan="4"><%= authority_name %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.retrieve_times') %></th>
            <td class="status-neutral"><%= @presenter.high_retrieve(stats) %></td>
            <td class="status-neutral"><%= @presenter.avg_retrieve(stats) %></td>
            <td class="status-neutral"><%= @presenter.low_retrieve(stats) %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.graph_load_times') %></th>
            <td class="status-neutral"><%= @presenter.high_graph_load(stats) %></td>
            <td class="status-neutral"><%= @presenter.avg_graph_load(stats) %></td>
            <td class="status-neutral"><%= @presenter.low_graph_load(stats) %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.normalization_times') %></th>
            <td class="status-neutral"><%= @presenter.high_normalization(stats) %></td>
            <td class="status-neutral"><%= @presenter.avg_normalization(stats) %></td>
            <td class="status-neutral"><%= @presenter.low_normalization(stats) %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.full_request_times') %></th>
            <td class="<%= @presenter.high_full_request_style(stats) %>"><%= @presenter.high_full_request(stats) %></td>
            <td class="<%= @presenter.avg_full_request_style(stats) %>"><%= @presenter.avg_full_request(stats) %></td>
            <td class="<%= @presenter.low_full_request_style(stats) %>"><%= @presenter.low_full_request(stats) %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  <% end %>
