<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="page-description">

  <h2><%= t('qa_server.monitor_status.title') %></h2>

  <%= render 'test_summary' %>
  <%= render 'test_history' %>
  <%= render 'performance' %>

</div>
