<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="page-description">

  <h2><%= t('qa_server.monitor_status.title') %></h2>

  <h3><%= t('qa_server.monitor_status.summary.title') %></h3>

  <h4><%= t('qa_server.monitor_status.summary.summary_table') %></h4>
  <table class="monitor-status-status">
    <tr>
      <th><%= t('qa_server.monitor_status.summary.authorities') %></th>
      <th><%= t('qa_server.monitor_status.summary.authorities_with_failures') %></th>
      <th><%= t('qa_server.monitor_status.summary.passing_tests') %></th>
      <th><%= t('qa_server.monitor_status.summary.failing_tests') %></th>
      <th><%= t('qa_server.monitor_status.summary.total_tests') %></th>
    </tr>
    <tr>
      <td class="status-neutral"><%= @presenter.authorities_count %></td>
      <td class="<%= @presenter.authorities_count_style %>"><%= @presenter.failing_authorities_count %></td>
      <td class="status-neutral"><%= @presenter.passing_tests_count%></td>
      <td class="<%= @presenter.failing_tests_style %>"><%= @presenter.failing_tests_count %></td>
      <td class="status-neutral"><%= @presenter.tests_count %></td>
    </tr>
  </table>
  <p class="status-update-dtstamp"><%= t('qa_server.monitor_status.summary.last_updated', date: @presenter.last_updated) %></p>

  <% if @presenter.failures? %>
    <div id="failures" class="status-section">
      <h4><%= t('qa_server.monitor_status.failures.title') %></h4>

      <table class="status">
        <tr>
          <th><%= t('qa_server.monitor_status.failures.status') %></th>
          <th><%= t('qa_server.monitor_status.failures.subauthority') %></th>
          <th><%= t('qa_server.monitor_status.failures.service') %></th>
          <th><%= t('qa_server.monitor_status.failures.action') %></th>
          <th><%= t('qa_server.monitor_status.failures.url') %></th>
          <th><%= t('qa_server.monitor_status.failures.errmsg') %></th>
        </tr>
        <% current_authority = nil %>
        <% @status_data.each do |status| %>
          <% unless status[:authority_name] == current_authority %>
              <% current_authority = status[:authority_name] %>
              <tr>
                <td class="table_subheading" colspan="6"><%= current_authority %></td>
              </tr>
          <% end %>
          <tr>
            <td class="<%= @presenter.status_style_class(status) %>"><%= @presenter.status_label(status) %></td>
            <td><%= status[:subauthority_name] %></td>
            <td><%= status[:service] %></td>
            <td><%= status[:action] %></td>
            <td><a href="<%= status[:url] %>"><%= status[:url] %></a></td>
            <td><%= status[:err_message] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if @presenter.history? && @presenter.display_history_details?%>
      <div id="availability-history" class="status-section">
        <h3><%= t('qa_server.monitor_status.history.title') %></h3>
        <p class="status-update-dtstamp"><%= t('qa_server.monitor_status.history.since', date: @presenter.first_updated) %></p>
        <%#= column_chart @presenter.historical_summary, stacked: true, colors: ["green", "red"], xtitle: 'Authority', ytitle: 'Pass-Fail', legend: 'bottom' %>
        <% if @presenter.display_historical_graph? %>
          <%= image_tag(@presenter.historical_graph, alt: 'History Graph Unavailable') %>
        <% end %>

        <% if @presenter.display_historical_datatable? %>
          <table class="status">
            <tr>
              <th><%= t('qa_server.monitor_status.history.authority') %></th>
              <th><%= t('qa_server.monitor_status.history.days_tested') %></th>
              <th><%= t('qa_server.monitor_status.history.days_passing') %></th>
              <th><%= t('qa_server.monitor_status.history.days_failing') %></th>
              <th><%= t('qa_server.monitor_status.history.percent_failing') %></th>
            </tr>
            <% @presenter.historical_summary.each do |entry| %>
                <tr>
                  <td><%= @presenter.historical_data_authority_name(entry) %></td>
                  <td class="status-neutral"><%= @presenter.days_authority_tested(entry) %></td>
                  <td class="<%= @presenter.passing_style_class(entry) %>"><%= @presenter.days_authority_passing(entry) %></td>
                  <td class="<%= @presenter.failure_style_class(entry) %>"><%= @presenter.days_authority_failing(entry) %></td>
                  <td class="<%= @presenter.failure_style_class(entry) %>"><%= @presenter.percent_authority_failing_str(entry) %></td>
                </tr>
            <% end %>
          </table>
        <% end %>
      </div>
  <% end %>

  <% if @presenter.display_performance? && @presenter.performance_data? %>
    <div id="performance-data" class="status-section">
      <h3><%= t('qa_server.monitor_status.performance.title') %></h3>

      <% if @presenter.display_performance_graph? %>
      <script>
        function switch_performance_view(id) {
            document.getElementById('performance-by-the-hour').style.display = 'none';
            document.getElementById('performance-by-the-day').style.display = 'none';
            document.getElementById('performance-by-the-month').style.display = 'none';
            document.getElementById(id).style.display = 'block';
        }
      </script>

      <div id="performance-by-the-hour" class="performance-data-section">
        <div id="right-menu-section">
          <ul class="right-menu">
            <li class="selected"><%= t('qa_server.monitor_status.performance.menu_day') %></li>
            <li class="clickable" onClick="switch_performance_view('performance-by-the-day')"><%= t('qa_server.monitor_status.performance.menu_month') %></li>
            <li class="clickable" onClick="switch_performance_view('performance-by-the-month')"><%= t('qa_server.monitor_status.performance.menu_year') %></li>
          </ul>
        </div>

        <div id="performance-chart-by-the-hour" class="performance-chart">
          <p>Data for the last 24 hours</p>
          <%= image_tag(@presenter.performance_for_day_graph, alt: 'Performance data for the last 24 hours.') %>
        </div>
      </div>

      <div id="performance-by-the-day" class="performance-data-section">
        <div id="right-menu-section">
          <ul class="right-menu">
            <li class="clickable" onClick="switch_performance_view('performance-by-the-hour')"><%= t('qa_server.monitor_status.performance.menu_day') %></li>
            <li class="selected"><%= t('qa_server.monitor_status.performance.menu_month') %></li>
            <li class="clickable" onClick="switch_performance_view('performance-by-the-month')"><%= t('qa_server.monitor_status.performance.menu_year') %></li>
          </ul>
        </div>

        <div id="performance-chart-by-the-day" class="performance-chart">
          <p>Data for the last 30 days</p>
          <%= image_tag(@presenter.performance_for_month_graph, alt: 'Performance data for the last 30 days.') %>
        </div>
      </div>

      <div id="performance-by-the-month" class="performance-data-section">
        <div id="right-menu-section">
          <ul class="right-menu">
            <li class="clickable" onClick="switch_performance_view('performance-by-the-hour')"><%= t('qa_server.monitor_status.performance.menu_day') %></li>
            <li class="clickable" onClick="switch_performance_view('performance-by-the-day')"><%= t('qa_server.monitor_status.performance.menu_month') %></li>
            <li class="selected"><%= t('qa_server.monitor_status.performance.menu_year') %></li>
          </ul>
        </div>

        <div id="performance-chart-by-the-month" class="performance-chart">
          <p>Data for the last 12 months</p>
          <%= image_tag(@presenter.performance_for_year_graph, alt: 'Performance data for the last 12 months.') %>
        </div>
      </div>
    </div>
    <% end %>

    <% if @presenter.display_performance_datatable? %>
      <table class="status">
        <tr>
          <th></th>
          <th><%= t('qa_server.monitor_status.performance.slowest_times') %></th>
          <th><%= t('qa_server.monitor_status.performance.average_times') %></th>
          <th><%= t('qa_server.monitor_status.performance.fastest_times') %></th>
        </tr>
        <% @presenter.performance_data.each do |authority_name, data| %>
          <% stats = @presenter.lifetime_stats(data) %>
          <tr>
            <td class="table_subheading" colspan="4"><%= authority_name %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.load_times') %></th>
            <td class="<%= @presenter.max_load_style(stats) %>"><%= @presenter.max_load(stats) %></td>
            <td class="<%= @presenter.avg_load_style(stats) %>"><%= @presenter.avg_load(stats) %></td>
            <td class="<%= @presenter.min_load_style(stats) %>"><%= @presenter.min_load(stats) %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.normalization_times') %></th>
            <td class="<%= @presenter.max_normalization_style(stats) %>"><%= @presenter.max_normalization(stats) %></td>
            <td class="<%= @presenter.avg_normalization_style(stats) %>"><%= @presenter.avg_normalization(stats) %></td>
            <td class="<%= @presenter.min_normalization_style(stats) %>"><%= @presenter.min_normalization(stats) %></td>
          </tr>
          <tr>
            <th><%= t('qa_server.monitor_status.performance.full_request_times') %></th>
            <td class="<%= @presenter.max_full_request_style(stats) %>"><%= @presenter.max_full_request(stats) %></td>
            <td class="<%= @presenter.avg_full_request_style(stats) %>"><%= @presenter.avg_full_request(stats) %></td>
            <td class="<%= @presenter.min_full_request_style(stats) %>"><%= @presenter.min_full_request(stats) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
